body {
    background-color: rgba(30, 30, 30, 0.9);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.container {
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.custom-control {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

button {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.leaflet-control-attribution {
    display: none;
}
